.btn:not(.dropdown-toggle) {
	border: 0px;
	border-radius: 0px;
	box-shadow: inset 0px -25px 50px -10px rgba(0, 0, 0, 0.2);
	height: 52px;
	outline: none;
	padding: 0px 20px;
	position: relative;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	transition: all linear 100ms;

	span:not(.icon) {
		font-size: 17px;
		position: relative;
		top: 1px;
	}

	.icon {
		font-size: 20px;
		position: relative;
		top: -2px;
	}

	&.btn-xs {
		padding: 0px 10px;
		height: 22px;
		span:not(.icon) {
			font-size: 12px;
			margin-bottom: -2px;
			position: relative;
			top: -1px;
		}
		.icon {
			font-size: 12px;
		}
	}

	&.btn-sm {
		height: 34px;
		span:not(.icon) {
			font-size: 14px;
		}
		.icon {
			font-size: 16px;
		}
	}

	&.btn-lg {
		height: 60px;
		span:not(.icon) {
			font-size: 18px;
		}
		.icon {
			font-size: 20px;
		}
	}
}

.btn-color-blue {
	background-color: #1880e2;

	&:hover {
		background-color: #116fc6;
	}
}

.btn-color-green {
	background-color: #19c433;

	&:hover {
		background-color: #13a52a;
	}
}

.btn-color-red {
	background-color: #e84037;

	&:hover {
		background-color: #ce352d;
	}
}

.btn-color-yellow {
	background-color: yellow;
}

.btn:disabled {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}
