.DataGrid {
	overflow-y: scroll;
}

.DataGrid thead {
	background-color: rgba(255, 255, 255, 0.95);
}

.DataGrid thead th {
	cursor: pointer;
	user-select: none;
}

.DataGridHeadCellOrder-0:after {
	content: "";
}

.DataGridHeadCellOrder-1:after {
	content: "▴";
}

.DataGridHeadCellOrder--1:after {
	content: "▾";
}

.DataGridHeadCellOrder-0:after, .DataGridHeadCellOrder-1:after, .DataGridHeadCellOrder--1:after {
	font-size: 20px;
	margin-top: -4px;
	margin-left: 15px;
	position: absolute;
}
