.DataGrid {
	overflow-y: scroll;

	.table {
		table-layout: fixed;

		thead {
			background-color: rgba(255, 255, 255, 0.95);

			th {
				cursor: pointer;
				user-select: none;

				&.DataGridHeadCellOrder-0:after {
					content: "";
				}

				&.DataGridHeadCellOrder-1:after {
					content: "▾";
					transform: rotate(180deg);
				}

				&.DataGridHeadCellOrder--1:after {
					content: "▾";
				}

				&.DataGridHeadCellOrder-0:after, &.DataGridHeadCellOrder-1:after, &.DataGridHeadCellOrder--1:after {
					font-size: 16px;
					margin-top: -2px;
					margin-left: 10px;
					position: absolute;
				}
			}
		}

		tbody {
			td {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}

		&.table-striped tbody {
			tr:nth-of-type(even) {
				background-color: rgba(50, 200, 50, 0.05);
			}
			tr:nth-of-type(odd) {
				background-color: rgba(255, 255, 255, 1);
			}
		}
	}
}
