$menu-width: 120px;

#menu {
	background-color: #555;
	border-right: 1px solid rgba(0, 0, 0, 0.5);
	height: 100%;
	left: 0px;
	position: fixed;
	top: 0px;
	width: $menu-width;

	ul {
		height: 100%;
		margin: 0px;
		padding: 0px;
		position: relative;
		width: 100%;

		a {
			background-color: #444;
			border-bottom: 1px solid rgba(0, 0, 0, 1);
			border-top: 1px solid rgba(255, 255, 255, 0.25);
			box-shadow: inset 0px -50px 100px -10px rgba(0, 0, 0, 0.2);
			color: #fff;
			cursor: pointer;
			display: list-item;
			list-style: none;
			height: 100px;
			margin: 0px;
			max-height: calc(100% / 8);
			min-height: 65px;
			padding: 7px 0px 0px 0px;
			text-align: center;
			text-decoration: none;
			text-shadow: 0px 1px 2px #000;
			transition: all linear 100ms;

			.icon {
				display: block;
				font-size: 35px;
			}

			span {
				display: block;
				font-size: 10px;
				margin-top: 12px;
				text-transform: uppercase;
			}

			&.active, &:hover {
				background-color: #1BC416;
				border-bottom: 1px solid rgba(0, 0, 0, 0.75);
				border-top: 1px solid rgba(255, 255, 255, 0.5);
				box-shadow: inset 0px -50px 100px -10px rgba(0, 0, 0, 0.2);
			}
		}
	}
}

#content {
	position: absolute;
	right: 0px;
	width: calc(100% - #{$menu-width});
}
