$div-padding: 15px;

#content.Parametro {
	.list-group {
		border-radius: 5px;

		.list-group-item {
			padding: 17px 20px 13px 20px;
		}
	}

	textarea {
		font-size: 16px;
	}

	.observacao {
		background-color: rgba(255, 255, 255, 0.9);
		border-radius: 5px;
		color: #666;
		font-size: 14px;
		padding: $div-padding;
		text-shadow: 0px 1px 0px #fff;

		&::before {
			content: "Descrição";
			background-color: rgba(0, 0, 0, 0.2);
			border-top-left-radius: inherit;
			border-top-right-radius: inherit;
			display: block;
			left: -$div-padding;
			padding: 10px 0px 6px 0px;
			position: relative;
			text-align: center;
			text-transform: uppercase;
			top: -$div-padding;
			width: calc(100% + #{$div-padding} * 2);
		}
	}
}
