#content {
	padding-right: 15px;
}

#pesquisa-limpar {
	background-color: #f44b42;
	border-radius: 50%;
	color: #fff;
	font-size: 12px;
	padding: 10px;
	position: absolute;
	right: 28px;
	top: 11px;
}
