#content {
	padding-right: 15px;

	&.operacao-OR {
		#vendadetalhe-cabecalho {
			background-color: #3e97a5;
		}
		#detalhevenda-corpo {
			background-color: #fdfff7;
		}
		#detalhevenda-rodape {
			background-color: #3e97a5;
		}

		button {
			&.btn-success {
				background-color: #1c6571;
				border-color: #18555f;

				&:hover {
					background-color: #18555f;
				}
			}

			&.btn-danger {
				background-color: #ce87a4;
				border-color: #a0617b;

				&:hover {
					background-color: #a0617b;
				}
			}
		}
	}
}

#pesquisa-limpar {
	background-color: #f44b42;
	border-radius: 50%;
	color: #fff;
	font-size: 12px;
	padding: 10px;
	position: absolute;
	right: 28px;
	top: 11px;
}
